* {
  /*custom colors*/
  --foreground: #434141;
  --background: #6A7B76;
  --background2: #3A4E48;
  /* buttons */
  --btn-background: #8B9D83;
  --btn-border: #73866c;
  --focus-highlight: rgba(161, 186, 145, 0.5);
  --accordion-highlight: #99af8b;
  --btn-hover-background: #6b7f64;
  --btn-hover-border: #73866c;
  --btn-hover-background-dark: #667960;
  --btn-hover-border-dark: #6e8067;
  --btn-text: #fff;
  /*pre defined*/
  --hilite1: rgba(255, 255, 255, 0.3);
  --accent: #007abc;
  --hr: #cccccc;
}
@media (prefers-color-scheme: dark) {
  * {
    --foreground: #dfdfdf;
    --background: #303030;
    --background2: #464544;
    --hilite1: rgba(0, 0, 0, 0.2);
    --hr: #434141;
  }
}
body,
html,
div {
  color: var(--btn-text);
  background-color: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  user-select: none;
  margin: 0;
}
th,
td {
  color: white;
}
/* Bootstrap overrides */
.accordion-button:focus {
  border-color: var(--focus-highlight);
  box-shadow: 0 0 0 0.11rem var(--focus-highlight);
}
.collapsed {
  background-color: var(--btn-background);
  border-color: var(--btn-border);
}
.accordion-button {
  color: white;
}
.accordion-button:not(.collapsed) {
  color: white;
  background-color: var(--accordion-highlight);
  border-color: var(--btn-border);
}
.accordion-item {
  border-color: var(--btn-border);
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.btn-primary {
  background-color: var(--btn-background);
  border-color: var(--btn-border);
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--btn-hover-background);
  border-color: var(--btn-hover-border);
}
